*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
}
.first{
    background-color: orange;
    width: 100%;
}

.header{
    text-align: center;
    padding: 20px;
    margin-top: 20px ;
    font-size: 60px;
    margin-bottom: 20px;
}
.person{
    
    display: flex;
    margin-left: 110px;
width: 100%;

}
.gir img{
    
    padding: 15px;
    height: 270px;
    width: 70%;
}
.gir h1{
        font-family: 'Arial Narrow Bold', sans-serif;
        font-size: larger;
        margin-left: 65px;
        padding: 8px;
        background-color: aquamarine;
}
.gir p{
    padding-left:95px ;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: aquamarine;
}
.gir .p2{
    padding-left:105px ;
    margin-top: 3px;
    margin-bottom: 2px;
    background-color:aquamarine ;
    
}
.gir h2{
    margin-left: 70px;
    margin-top:20px ;
    font-size: 30px;
    margin-bottom:12px ;
    background-color: aquamarine;
}


.boy img {
        padding-left: 20px;
        height: 300px;
        width: 70%;
        background-color: darkgreen;
}
.boy h1{
    font-family: 'Arial Narrow Bold', sans-serif;
        font-size: larger;
        margin-left: 80px;
        padding: 2px;
        margin-top: 12px;
        background-color: darkgreen;
}
.boy p{
    padding-left:100px ;
    margin-top: 3px;
    margin-bottom: 2px;
    background-color: darkgreen;
}
.boy .p3{
    padding-left:115px ;
    margin-top: 3px;
    margin-bottom: 2px;
    background-color: darkgreen;
}
.boy h2{
    margin-left: 80px;
    margin-top:20px ;
    font-size: 30px;
    margin-bottom:12px ;
    margin-bottom: 15px;
    background-color: darkgreen;
}
 .girll img {
        padding-left: 40px;
        height: 300px;
        width: 70%;
    
}
.girll h1{
    font-family: 'Arial Narrow Bold', sans-serif;
        font-size: larger;
        margin-left: 110px;
        padding: 2px;
        margin-top:12px
}
.girll p{
    padding-left:100px ;
    margin-top: 3px;
    margin-bottom: 2px;
}
.girll .p4{
    padding-left:78px ;
    margin-top: 3px;
    margin-bottom: 2px;
}
.girll h2{
    margin-left: 75px;
    margin-top:20px ;
    font-size: 30px;
    margin-bottom:12px
}
